<img class="seta-voltar" src="../static/images/seta-voltar.png" onclick="voltar()">

<div>
    <p id="popup-text">Rotas Favoritas</p>
    <p style="margin: 0 0 20px 0; font-size: 17px; color: gray;">Acesse e gerencie suas rotas salvas e locais favoritos</p>
</div>

<div id="favoritos-lista">
        

</div>

<div id="form-favorito-wrapper" class="form-favorito-wrapper">
    <div class="form-favorito-container">
        <div class="form-favorito-header">
        <span class="form-favorito-title">Cadastrar Novo Favorito</span>
        <img id="btn-fechar" class="form-favorito-close" src="../static/images/x.png" alt="Fechar">
        </div>
    
        <form id="form-favorito" class="form-favorito-body">
        <div class="form-favorito-group">
            <input type="text" id="nome" name="nome" placeholder="Nome">
        </div>
    
        <div class="form-favorito-group">
            <input type="text" id="endereco" name="endereco" placeholder="Endereço">
        </div>
    
        <button onclick="AdicionarFavorito()" class="form-favorito-submit">Salvar</button>
        </form>
    </div>
</div>
    
<div id="adicionar-wrapper" class="centralizar-horizontal">
    <button id="btn-adicionar" class="btn-arredondado" onclick="FormFavorito()">
        <img src="../static/images/mais.png" alt="Adicionar" class="icone-central" />
    </button>
</div>

    
    