<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/historico.css">
    <script src="/static/js/principal.js"></script>
</head>
<body>
    <section class="base">
        <section class="popup-section active">
            <div id="trajeto-popup" class="popup hidden">
              <section class="trajeto-info">
                <h2 class="trajeto-titulo">Informações do Trajeto</h2>
              </section> 
              
              <section class="Section-Visualizar-Rota">
                <p class="trajeto-data">30/03/2024 18:30</p>

                <button class="visualizar-rota-btn">
                    <span>
                        Visualizar rota
                    </span>
                    <img width="15" height="15" src="../static/images/link.png" alt="">
                </button>
                
              </section>
              

              <section class="Section-Mapa">
                <div class="Container-Mapa-Resumo">
                    
                </div>
              </section>

            <section class="Section-Enderecos">
                <ul class="enderecos">
                    <li>Av. Humberto de Alencar Castelo Branco, 3972-B - Assunção, São Bernardo do Campo - SP, 09850-901</li>
                    <li>Av. João Firmino - Assunção, São Bernardo do Campo - SP, 09812-450</li>
                </ul>
            </section>
              
            <section class="Section-Areas-Evitadas">
                <button class="areas-evitadas-btn">12 ÁREAS DE RISCO EVITADAS</button>
            
                <div class="legenda-riscos">
                    <div><span class="bolinha red">2</span> Áreas de alto risco</div>
                    <div><span class="bolinha yellow">6</span> Áreas de médio risco</div>
                    <div><span class="bolinha green">4</span> Áreas de baixo risco</div>
                </div>
            </section>
              
          
              <div class="comparativo-box">
                <p>Comparativo tempo e km - maps</p>
              </div>
            </div>
          </section>
          

        

    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>
