<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <script>
        let autocompleteOrigin, autocompleteDestination;

        function initAutocomplete() {
            // console.log("Chave da API do Google Maps:", "{{ api_key }}");

            // Configura o autocompletar para o campo de origem
            autocompleteOrigin = new google.maps.places.Autocomplete(
                document.getElementById("origin"),
                {
                    bounds: new google.maps.LatLngBounds(
                        new google.maps.LatLng(-23.9, -46.8), // Sudoeste de SP
                        new google.maps.LatLng(-23.3, -46.3)  // Nordeste de SP
                    ),
                    strictBounds: true
                }
            );
            
            // Configura o autocompletar para o campo de destino
            autocompleteDestination = new google.maps.places.Autocomplete(
                document.getElementById("destination"),
                {
                    bounds: new google.maps.LatLngBounds(
                        new google.maps.LatLng(-23.9, -46.8), // Sudoeste de SP
                        new google.maps.LatLng(-23.3, -46.3)  // Nordeste de SP
                    ),
                    strictBounds: true
                }
            );

            autocompleteOrigin.addListener('place_changed', function() {
                var place = autocompleteOrigin.getPlace();
                console.log(place);
                if (!place.geometry) {
                    console.log("Endereço não encontrado.");
                    return;
                }
                document.getElementById('origin_coords').value = place.geometry.location.lat() + ',' + place.geometry.location.lng();

                if(document.getElementById('destination_coords').value != "") {
                    loadMap();
                }
            });

            autocompleteDestination.addListener('place_changed', function() {
                var place = autocompleteDestination.getPlace();
                console.log(place);
                if (!place.geometry) {
                    console.log("Endereço não encontrado.");
                    return;
                }
                document.getElementById('destination_coords').value = place.geometry.location.lat() + ',' + place.geometry.location.lng();
                if(document.getElementById('origin_coords').value != "") {
                    loadMap();
                }
            });
        }

        function loadMap() {
            var origin_coords = document.getElementById('origin_coords').value;
            var destination_coords = document.getElementById('destination_coords').value;

            if (!origin_coords || !destination_coords) {
                alert("Por favor, selecione ambos os endereços.");
                return;
            }

            fetch(`/return_map?origin=${origin_coords}&destination=${destination_coords}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("map-container").innerHTML = data.mapa_html;
                })
                .catch(error => console.error("Erro ao carregar o mapa:", error));
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="top-left">
            <div style="border-radius: 20px; fill: #fff;">
                <div class="input-container">
                    <div class="outer-circle"></div>
                    <div class="inner-circle"></div>
                    <input type="text" class="custom-input" id="origin" name="origin" placeholder="Digite a origem" required>
                    <input id="origin_coords" style="display: none;"></input>
                </div>

                <br>

                <div class="input-container">
                    <div class="icon-container">
                        <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.46061 2.46043C4.03599 0.885043 6.17267 0 8.40061 0C10.6285 0 12.7652 0.885043 14.3406 2.46043C15.916 4.03582 16.801 6.1725 16.801 8.40043C16.801 10.6284 15.916 12.765 14.3406 14.3404L8.40061 20.2804L2.46061 14.3404C1.6805 13.5604 1.06169 12.6344 0.639494 11.6152C0.217301 10.596 0 9.50361 0 8.40043C0 7.29725 0.217301 6.20488 0.639494 5.18569C1.06169 4.1665 1.6805 3.24045 2.46061 2.46043ZM8.40061 10.8004C9.03713 10.8004 9.64758 10.5476 10.0977 10.0975C10.5478 9.6474 10.8006 9.03695 10.8006 8.40043C10.8006 7.76391 10.5478 7.15346 10.0977 6.70337C9.64758 6.25329 9.03713 6.00043 8.40061 6.00043C7.76409 6.00043 7.15364 6.25329 6.70355 6.70337C6.25346 7.15346 6.00061 7.76391 6.00061 8.40043C6.00061 9.03695 6.25346 9.6474 6.70355 10.0975C7.15364 10.5476 7.76409 10.8004 8.40061 10.8004Z" fill="#DC2626" />
                        </svg>
                    </div>
                    <input type="text" class="custom-input" id="destination" name="destination" placeholder="Digite o destino" required>
                    <input id="destination_coords" style="display: none;"></input>

                </div>

            </div>

            
        </div>
        <div class="top-right">Top Right</div>
        <div class="bottom-left">Bottom Left</div>
        <div class="bottom-right"><div id="map-container"></div></div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete"async defer></script>
</body>
</html>
